<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersecurity Policy Scraper</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id="sidebar">
        <form id="countryForm" action="/scrapping" method="post">
            <label for="countries">Enter countries (line separated):</label>
            <textarea id="countries" name="countries" placeholder="Country 1&#10;Country 2&#10;..." rows="4"></textarea>
            <button type="submit">Start Scraping</button>
        </form>
    </div>
    <h2>{{label}}</h2>
</body>
</html>
